* {
    margin: 0;
    border: 0;
    padding: 0;    
}

html {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
    color: #666;
}

.container {
    max-width: 1920px;
    width: 100%;
}

/* header */
header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

nav:after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container ul li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container ul li a {
    text-decoration: none;
    color: #666;
    transition: .5s;
}

.nav-container ul li a:hover {
    color: #3381f3;
}

/* banner */
#main-banner {
    background: url(../img/banner6.jpg) no-repeat;
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    margin-top: 100px;
}

#search-form {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15em;
    padding-bottom: 15px;
    text-align: center;
}

#search-form h1 {
    font-size: 2.5rem;
}

#search-form p {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 1.12rem;
    font-weight: 300;
}

#search-form input, #search-form select {
    background-color: #fff;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
} 


#search-form input[type=submit] {
    background-color: #3381f3;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

#search-form input[type=submit]:hover {
    background-color: #2B79eb;
}

/* seção de últimos empregos */

#lastjobs-container {
    text-align: center;
    padding: 100px 0;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#lastjobs-container h1 {
    font-size: 2.25rem;
    margin-bottom: 50px;
}

#lastjobs-container ul {
   padding: 0;
   border: 1px solid #ccc;
   border-radius: 10px;
}

#lastjobs-container ul li {
    list-style: none;
    text-align: left;
    border-bottom: solid 1px #CCC;
    height: 80px;
    position: relative;
}

#lastjobs-container ul li:last-child {
    border: none;
}

.clickarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* company img */

.company-box {
    display: inline-block;
    width: 50%;
    position: relative;
    padding-left: 1%;
}

.company-box img {
    width: 100px;
    margin-top: 2.5px;
}

.company-info {
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    text-align: left;
    position: absolute;
}

.company-info h3 {
    font-weight: 300;
    margin-bottom: 10px;
}

.company-info p {
    font-weight: bold;
}

/* company locality */

.locality {
    color: #6d6d6d;
    display: inline-block;
    width: 25%;
    position: absolute;
    height: 100%;
    line-height: 80px;
}

.locality i, .locality p {
    display: inline-block;
}

.locality i {
    margin-right: 5px;
}

.job-type {
    display: inline-block;
    width: 20%;
    height: 100%;
    position: absolute;
    padding-top: 30px;
    right: 1%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.job-type span {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    color: #fff;
}

.clt {
    background-color: #735fee;
}

.pj {
    background-color: #5bbc2e;
}

.homeoffice {
    background-color: #ff5a5f;
}

/* see more div */
.btnjobs-container {
    margin-top: 50px;
}

.btn-jobs {
    text-transform: uppercase;
    background-color: #fff;
    color: #3381f3;
    border: 2px solid #3381f3;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.5s;
}

.btn-jobs:hover {
    background-color: #3381f3;
    color: #fff;
}

#sendjobs-container {
    background: url('../img/banner2.jpg') no-repeat;
    background-size: cover;
    background-position: 0 25%;
    padding: 15em 0;
}

#sendjobs-container h2, #sendjobs-container p {
    width: 600px;
    color: #fff;
}

#sendjobs-container h2 {
    font-size: 2.25rem;
    margin-bottom: 50px;
}

#sendjobs-container p {
    font-size: 1.13rem;
    margin-bottom: 50px;
}

.ligth-btn {
    background-color: #fff;
    color: #666;
    border: 2px solid #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.ligth-btn:hover {
    background-color: transparent;
    color: #fff;
}

/* jobfinder status */
#status-container {
    text-align: center;
    padding: 5em 0;
}

.title-center {
    font-size: 2.25rem;
    margin-bottom: 30px;
    text-align: center;
}

.p-center {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.13rem;
}

.status-box {
    display: inline-block;
    text-align: center;
    width: 24.5%;
    margin-top: 80px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    height: 100px;
}

.status-box:nth-child(2){
    border: none;
}

.status-box:nth-child(3){
    border-right: none;
}

.status-qtd {
    font-size: 2.25rem;
}

.status-text {
    font-size: 1.25rem;
}